<phpunit>
	<testsuites>
		<testsuite name="Whats For Lunch">
<!--			<file>ProfileTest.php</file>-->
			<file>RestaurantTest.php</file>
			<file>FavoriteTest.php</file>
			<file>PictureTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>